{% extends 'layouts/_main.html.twig' %}

{% block title %}Nouvelle année{% endblock %}

{% block main %}
    <h1 class="h1">Nouvelle année fiscale</h1>

    {{ include('accounting_year/_form.html.twig') }}

{% endblock %}
