{% extends 'base.html.twig' %}

{% block title %}New AccountingYear{% endblock %}

{% block body %}
    <h1>Create new AccountingYear</h1>

    {{ include('accounting_year/_form.html.twig') }}

    <a href="{{ path('app_accounting_year_index') }}">back to list</a>
{% endblock %}
