{% extends 'base.html.twig' %}

{% block body %}
    
    {# {% include 'layouts/_navbar.html.twig' %} #}
    <div class="d-flex">
        {% include 'layouts/_sidebar.html.twig' %}

        <div class="container-fluid mx-3 mt-3">
            {% block main %}{% endblock  %}
        </div>
    
    </div>

{% endblock %}