{% extends 'base.html.twig' %}

{% block body %}
    
    {% include 'layouts/_navbar.html.twig' %}

    <div class="container mt-3">
        {% block main %}{% endblock  %}
    </div>

{% endblock %}