<form method="post" action="{{ path('app_accounting_month_delete', {'id': accounting_month.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accounting_month.id) }}">
    <button class="btn">Delete</button>
</form>
