{% extends 'layouts/_main.html.twig' %}

{% block title %}New AccountingMonth{% endblock %}

{% block main %}
    <h1>Create new AccountingMonth</h1>

    {{ include('accounting_month/_form.html.twig') }}

{% endblock %}
